{% extends 'base.html.twig' %}

{% block title %}All Produits{% endblock %}

{% block body %}

    <div class="container all-produits">

        {% for produit in produits %}

            <h1>{{ produit.title }}</h1>
            <p>{{ produit.description }}</p>
            <h2>{{ produit.price }}</h2>
            
            {% if produit.category is not null %}
                <a href="{{ path('app_category_update', {'id': produit.category.id}) }}">{{ produit.category.name }}</a>
            {% endif %}

            <a href="{{ path('app_produit_update', {'id': produit.id}) }}">Modifier</a>

        {% endfor %}

    </div>

{% endblock %}
